<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <title>REMA Challenge</title>

    <% if (r) { %>
        <script>
            window.location.href = '/';
        </script>

        <% } %>


            <style>
                * {
                    padding: 0px;
                    margin: 0px;
                }

                :root {
                    width: 100vw;
                    height: 100vh;
                    font-size: 16px;
                }

                body {
                    background-color: #f8f9fa;
                    padding-top: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                a {
                    text-decoration: none;
                }
            </style>
</head>

<body>
    <% if (emissionSources.length> 0) { %>
        <table style="width: 80%;" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="background-color: #d98b0d; color: #fff;" scope="col">Source</th>
                    <th style="background-color: #d98b0d; color: #fff;" scope="col">Date</th>
                    <th style="background-color: #d98b0d; color: #fff;" scope="col">State</th>
                    <th style="background-color: #d98b0d; color: #fff;" scope="col">Consumption (MWh)</th>
                    <th style="background-color: #d98b0d; color: #fff;" scope="col">CO2 Emissions (tCO2)</th>
                    <th style="background-color: #d98b0d; color: #fff;" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% const states={ AC: 'Acre' , AL: 'Alagoas' , AM: 'Amazonas' , AP: 'Amapá' , BA: 'Bahia' , CE: 'Ceará'
                    , DF: 'Distrito Federal' , ES: 'Espírito Santo' , GO: 'Goiás' , MA: 'Maranhão' , MG: 'Minas Gerais'
                    , MS: 'Mato Grosso do Sul' , MT: 'Mato Grosso' , PA: 'Pará' , PB: 'Paraíba' , PE: 'Pernambuco' ,
                    PI: 'Piauí' , PR: 'Paraná' , RJ: 'Rio de Janeiro' , RN: 'Rio Grande do Norte' , RO: 'Rondônia' ,
                    RR: 'Roraima' , RS: 'Rio Grande do Sul' , SC: 'Santa Catarina' , SE: 'Sergipe' , SP: 'São Paulo' ,
                    TO: 'Tocantins' }; %>
                    <% for (let i=0; i < emissionSources.length; i++) { %>
                        <% let year=emissionSources[i].date.slice(0, 4); let month=new Intl.DateTimeFormat('en-US',
                            {month: "long" }).format(new Date(`${emissionSources[i].date}-10`)); %>

                            <tr>
                                <td>
                                    <%= emissionSources[i].name %>
                                </td>
                                <td>
                                    <%= `${month} ${year}` %>
                                </td>
                                <td>
                                    <%= states[emissionSources[i].state] %>
                                </td>
                                <td>
                                    <%= emissionSources[i].consumptionAmount.toFixed(2) %>
                                </td>
                                <td>
                                    <%= emissionSources[i].emission.toFixed(10).replace(/\.?0+$/, '' ); %>
                                </td>
                                <td>
                                    <p>
                                        <a style="margin-left: 10%;" href="./<%= emissionSources[i].id %>/edit">Edit</a>
                                        <a style="margin-left: 10%;"
                                            href="./<%= emissionSources[i].id %>/delete">Delete</a>
                                    </p>
                                </td>
                            </tr>
                            <% } %>
            </tbody>
        </table>
        <% } else { %>
            <h1>No emission sources registered</h1>
            <% } %>

                <div style="width: 80%;" class="d-grid gap-2">
                    <a href="./register" style="border-color: #d98b0d; background-color: #d98b0d;"
                        class="btn btn-primary" type="button">New Register</a>
                </div>
</body>

</html>